h1{
    text-align: center;
}
.col{
    display: grid;
    grid-template-columns: 100px;
    grid-template-rows: 100px; 
    align-items: center;
    justify-content: center;
    justify-items: center;
    background-color: #8892c6 ;
    margin: 1rem;
    border-radius: 10%;
}
